#hero {

    background:url(../images/header.jpg);
    background-position: center center;
    background-size: cover;
    background-color: #fff;
    height: 100vh;
    width: 100;
     }

    




        #footer{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5%;
            background-color: grey;
            flex-wrap: wrap;
            }
            
            
            
            